{% extends "/layouts/main.twig" %}

{% block title %}Edit customer{% endblock %}

{% block head %}
  {{ parent() }}

{% endblock %}

{% block content %}
  
  <h1>Edit customer</h1>

  {% if infos|length > 0 %}
    <ul>
    {% for info in infos %}
      <li>{{ info }}</li>
    {% endfor %}
    </ul>
  {% endif %}

  {% if errors|length > 0 %}
    <ul>
    {% for error in errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}

  <p>Here's your customer:</p>

  {% if customer %}
    {% include 'customers/form.twig' %}
  {% else %}
    <p>Non è stato trovato nessun risultato!</p>
  {% endif %}

{% endblock %}