{% extends "/layouts/main.twig" %}

{% block title %}Edit customer{% endblock %}

{% block head %}
  {{ parent() }}

{% endblock %}

{% block content %}
  
  <h1>Edit customer</h1>

  {% include 'layouts/flashes.twig' %}

  <p>Here's your customer:</p>

  {% if customer %}
    {% include 'customers/form.twig' %}
  {% else %}
    <p>Non è stato trovato nessun risultato!</p>
  {% endif %}
  
  {{ createLink('Back to home', '/customers') }}
  
{% endblock %}