{% extends "/layouts/main.twig" %}

{% block title %}Customers{% endblock %}

{% block head %}
  {{ parent() }}

{% endblock %}

{% block content %}
  <h1>Customers</h1>
  <p>Here's your customers:</p>
  <ul>
  {% for customer in customers %}
    <li>{{ customer.name }} | <a href="{{ customer.uri }}">Edit</a></li>
  {% endfor %}
  </ul>
{% endblock %}