{% extends "/layouts/main.twig" %}

{% block title %}New customer{% endblock %}

{% block head %}

  {{ parent() }}

{% endblock %}

{% block content %}

  <h1>Create new customer</h1>

  {% include 'layouts/flashes.twig' %}
  
  <p>Create a new customer:</p>

  {% include 'customers/form.twig' %}

  {{ createLink('Back to home', '/customers') }}

{% endblock %}